.registro h3{
    text-align: center;
    text-transform: uppercase;
    margin: 20px 0 0 0;
    color: #fe4918;
    font-size: 2.7rem;
    font-weight: bold;
}
.registro label{
    margin-bottom: 5px;
    font-weight: bold;
}
h4{
    text-align: center;
    text-transform: uppercase;
    border-bottom: 2px solid #fe4918;
    padding-bottom: 10px;
    font-size: 1.8rem;
}
.caja{
    background-color: white;
    border: 1.8px solid #e1e1e1;
    padding: 10px;
    margin: 10px;
}
.campo{
    padding: 20px;
}
@include tablet{
    .datos-registro{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
.paquetes .tabla-precio:hover{
    transform: none;
    box-shadow: none;
}
.paquetes .tabla-precio input{
    width: 100px;
    margin: 10px auto 0 auto;
    display: block;
}
.contenido-dia{
    padding: 20px;
    margin: 10px;
    /* display: none; */
}
@include tablet{
    .contenido-dia{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-auto-flow: 33.3%;
        column-gap: 37px;

        .talleres{
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 2;
        }
        .conferencias{
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 2;
        }
        .seminarios{
            grid-column-start: 3;
            grid-column-end: 4;
            grid-row-start: 1;
            grid-row-end: 2;
        }
    }
}
.contenido-dia>div p{
    text-align: left;
}
.contenido-dia>div label{
    display: block;
    margin-bottom: 10px;
}
.contenido-dia>div input{
    margin-right: 10px;
}
.contenido-dia>div label time {
    color: #fe4918;
    font-weight: bold;
}


/*RESUMEN DE REGISTRO*/

.caja-resumen{
    display: flex;
    input{
        display: block;
        margin: 10px auto ;
    }
    p{
        font-size: 2.1rem;
        text-transform: uppercase;
    }
    .extras{
        flex-direction: column;
        width: 60%;
        margin-left: 2rem;

    }
    .total{
        justify-content: flex-end;
        margin-left: 24rem;
        width: 50%;
    }
   
    .orden select,
    .orden input{
        margin: 10px 5px 0 0;
        border: 1px solid #fe4918;
        width: 50%;
    }
    
    .option{
        font-size: 16px;
    }


}

#lista-productos{
    background-color: #e1e1e1;
    padding: 20px;
    text-align: center;
    display: none;
  }
#suma-total{
    text-align: center;
    font-size: 2em;
    color: #fe4918;
  }










// .caja-resumen {
//     display: grid;
//     grid-template-columns: 1fr 1fr;
//     grid-auto-flow: 33.3%;
//     column-gap: 37px;
//     max-width: 110rem;

//     p{
//         font-size: 2.1rem;
//         text-transform: uppercase;
//     }
//     .extras{
//         grid-column: 1/2;
//         grid-row: 1/2;
//         // display: flex;
//         // flex-direction: column;
//         // width: 50%;
//         // padding: 30px;
//         .orden{
            
//             text-align: left;
//             margin-bottom: 10px;
//             input{
//                 margin: 10px 0 0 0;
//             }
//         }
//     }
//     .total{
//         grid-column: 2/3;
//         grid-row: 1/2;
//         // display: flex;
//         // flex-direction: column;
//         // width: 50%;
//         // padding: 30px;
//       }
// }