.hero{
    background-image: url('../img/encabezado.jpg');
    height: 100vh;
    /* background-repeat: no-repeat; */
    background-position: top center;
    background-size: cover;

    .contenido-header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 40px;
    
        h1 {
            text-align: left;
            color: $blanco;
            font-weight: $bold;
            line-height: 2;
            max-width: 60rem;
        }
        @include tablet{
            .contenido-header{
                padding-top: 10px;
            }
        }
        .redes-sociales{
            text-align: center;
        }
        .redes-sociales a{
            color: $blanco;
            font-size: 3.2rem;
            margin-right: 20px;
        }
        .redes-sociales a:last-child{
            margin-right: 0;
        }
        .informacion-evento{
            text-align: center;
            color: $grisOscuro;
            .fecha{
                float: left;
            }
            .ciudad{
                float: right;
                text-align: right;
            }
            .slogan{
                text-transform: none !important;
            }
            .slogan span{
                font-weight: $bold;
            }
            .nombre-sitio{
                font-size: 5.9vw;
                text-transform: uppercase;
                font-family: $fuente_terciaria;
                span {
                    position: relative;
                    text-shadow: 0 0 30px black;
                }
                @include desktop{
                    .char1{
                        top: 20px;
                        right: 20px;
                    }
                    .char2{
                        top: 0px;
                        left: -20px;
                    }
                    .char3{
                        top: 10px;
                        right: 20px;
                    }
                    .char4{
                        top: 5px;
                        right: 10px;
                    }
                    .char5{
                        top: 15px;
                        right: 10px;
                    }
                    .char6{
                        top: 5px;
                        left: 10px;
                    }
                    .char7{
                        top: 20px;
                        left: -10px;
                    }
                    .char8{
                        top: 0px;
                        left: 10px;
                    }
                    .char9{
                        top: 10px;
                        right: 20px;
                    }
                    .char10{
                        top: 20px;
                        right: 20px;
                    }
                }
            }
            @include tablet{
                .nombre-sitio{
                    font-size: 11.5vw;
                    margin: 0;
                    line-height: 1;
                }
            }
            .fa-calendar-alt{
                margin-top: -22px;
            }
            .fa-map-marker-alt{
                margin-top: -22px;
            }
        }
        @include tablet {
            .informacion-evento{
              width: 70%;
              margin: 0 auto;
              margin-top: 50px;
            }
        }
        .informacion-evento p{
            color: $blanco;
            margin: 0;
            display: inline-flex;
            font-size: 20px;
            text-transform: uppercase;
        }
        .informacion-evento p i{
            color: #fe4918;
            margin-right: 9px;
            font-size: 5rem;
        }
        
    }
}


