/** Barra **/
.barra{
    display: flex;
    background-color: #353535;
    padding: 20px 0;

    .logo{
        width: 80%;
        float: left;
    }
    .logo img{
        width: 100%;
    }
    @include tablet{
        .logo{
            width: 33%;
        }
    }
    .barra-navegacion{
        height: auto;
    }

}

  
  /* Navegacion Principal */
.navegacion-principal{
    display: none;
    width: 100%;/* Para que no haga efecto feo al pinchar el la hamburguesa*/
}
.navegacion-principal a{
    font-family: 'Oswald', sans-serif;
    font-size: 1.3em;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    transition: all .6s ease;
    width: 100%;
    // flex-direction: row;
    display: inline-block;
    text-align: center;
    margin-bottom:20px ;
}
.navegacion-principal a:hover{
    background-color: #fe4918;
}
.navegacion-principal a:last-child{
    border: 2px solid #fe4918;
    color: #fe4918;
}
.navegacion-principal a:last-child:hover{
    border: 2px solid #fe4918;
    color: white;
}
@include tablet {
    .navegacion-principal{
      width: 67%;
      text-align: right;
    //   flex-direction: row;
      display: inline-block;
    //   justify-content: flex-end;

    }
    .navegacion-principal a{
      padding: 10px 10px;
      width: auto;
      display: inline-block;
      text-align: center;
      margin:0 10px 0 0;

    }
}

.fixed{
    position:fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}