.testimoniales{
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.testimonial{
    padding: 5px;
}
@include tablet{
    .testimonial{
        width: 33.3%;
    }
}
blockquote{
    background-color: #ffffff;
    border: 1px solid #e1e1e1;
    position: relative;
    margin: 0 0 10px 0;
    padding-bottom: 20px;
}
blockquote .txt-blockquote{
    text-align: justify;
    font-size: 1.5rem;
    font-family: 'PT Sans', sans-serif;;
    padding: 0 29px 23px 60px;
}
blockquote .txt-blockquote::before{
    content: '\201c';
    position: absolute;
    left: 13px;
    top: 8px;
    font-size: 8rem;
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #fe4918;
}
.info-testimonial{
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
}
.info-testimonial img{
    // float: left;
    justify-content: flex-start;
    width: 50%;
    border-radius: 50%;
    margin-left: 20px;
}
.info-testimonial cite {
    flex-direction: column;
    text-align: left;
    color: #fe4918;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    padding-top: 20px;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    text-align: left;
}
.info-testimonial cite span{
    color: #474747;
    font-size: 1rem;
    display: block;
    text-transform: none;
    margin-top: 10px;
}