.testimoniales{
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.testimonial{
    padding: 5px;
}
@include tablet{
    .testimonial{
        width: 33.3%;
    }
}
blockquote{
    background-color: #ffffff;
    border: 1px solid #e1e1e1;
    position: relative;
    margin: 0 0 10px 0;
    padding-bottom: 20px;
}
blockquote .txt-blockquote{
    text-align: justify;
    font-size: .8em;
    font-family: 'PT Sans', sans-serif;;
    padding: 0 20px 0 60px;
}
blockquote .txt-blockquote::before{
    content: '\201c';
    position: absolute;
    left: 13px;
    top: 8px;
    font-size: 8rem;
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #fe4918;
}